.General{
width: 100%;
text-align: center;
margin:auto;
}

.contenedor{
z-index: 5;
position:relative;
text-align:center;
width:430px;
margin:20px; 
position: absolute;
z-index: 2;
}

.div-color{
background-color:rgba(0,0,0,0.45);
z-index: 2;
width: 100%;
height: 100%;
}

#div-registro{
	border:0px;
	display:inline-block;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	padding:0 18px;
	font-size:15px;
	font-weight:bold;
	outline:none;
	position:relative;
	-webkit-box-shadow:none;
	box-shadow:none;
	margin:0 50px;
	height:40px;
	cursor:pointer;
	margin-top:10px;
	vertical-align:middle;
	text-align:center;
	background-color:#fff;
	color: rgb(51, 51, 51);
	border-radius: 5px;
	width: 150px;
	position: absolute;
	z-index: 2;
}

#bg{
z-index: 2
margin: 16px 0px; 
position: relative;	
}

.galeria{
width:96%;
margin:10px 2px;
list-style:none;
box-sizing:border-box;
display:flex;
flex-wrap:wrap;
justify-content:space-around;	
}

.galeria li{
margin:5px;
z-index: -2;
}

.galeria img{
width:230px;
height:370px;
border-radius: 10px;
}


#div-dentroOtroRecuadro{
min-height:510px;
padding:35px 10px;
}


#fondo1{
min-height: 400px;
padding: 20px 10px;	
}

#fondo2{
display:block;
height:45px;
margin:5px auto;
width:45px;
}

#fondo3{
display: block;
}

#style5{
text-align: center; 
font-weight: bold; 
color: rgb(204, 204, 204); 
font-size: 18px; 
margin: -25px 26px 20px;	
}

#style6{
margin: 5px 26px 26px; 
text-align: center; 
font-weight: bold; 
font-size: 28px; 
color: rgb(51, 51, 51);
}

#style7{
margin:0px auto; 
position:relative; 
text-align: center;
}

#style8{
margin: 0px auto; 
width: 268px;
}

#style9{
position: relative; 
margin-bottom: 7px;
}

#style10{
margin-bottom:8px
}

#stylecondiciones{
color: #717171; 
font-weight: bold;
}

#stylebutton{
border-bottom: 1px solid; 
color: rgb(239,239,239); 
margin: 20px 0px 15px -68px; 
width: 404px; 
transform: translateY(15px);
}

#stylebuttoncuentapersonal{
border: 0px; 
height: 70px; 
display: inline-block; 
border-radius: 4px; 
-webkit-font-smoothing: antialiased;  
font-size: 16px; 
font-weight: 700; 
outline: none; 
position: relative; 
box-shadow: none; 
cursor: pointer; 
margin-top: 10px; 
vertical-align: middle; 
text-align: center; 
background-color: rgb(235,235,235); 
color: rgb(68,68,68); 
width: 100%; 
align-items: center;
justify-content: center; 
box-sizing: border-box;
}

#div-rojo{
    position: relative; 
    padding: 10px; 
    min-width: 250px; 
    min-height: 250px; 
    width: auto; 
    height: auto; 
    margin-left: 25px; 
    border-radius: 50% 50% 50% 10%; 
    display: flex; 
    flex-direction: column; 
    background-color: rgb(189, 8, 28);
  }

  #boton-contenidorojo{
    border: 1px solid rgb(255, 255, 255);
    height: auto; 
    display: inline-block; 
    border-radius: 4px; 
    -webkit-font-smoothing: antialiased; 
    padding: 8px 18px; 
    font-size: 15px; 
    font-weight: bold; 
    outline: none; 
    box-shadow: none; 
    cursor: pointer; 
    margin-top: 10px; 
    vertical-align: middle; 
    text-align: center; 
    background-color: transparent; 
    color: rgb(255, 255, 255);
  }

.Parrojo{
color: #fff;
text-align: left;
font-size: 21px;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
text-size-adjust: none;
letter-spacing: -.4px;
font-weight: 700;
}

#style11{
bottom: 0px; 
left: 100%; 
position: absolute;
}

#style12{
position: absolute; 
left: 0px; 
bottom: 0px; 
padding: 25px; 
text-align: left;
}
