#texto {
	text-align: center;
	font-weight: bold;
	font-family:BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#espacio{
	width: 100%;
	height: 90px;
}

.icono{
	margin-left: 500px;
}
.icono i{
	font-size: 45px;
	cursor: pointer;
	padding: 2px;
}

#btn-seguir{
	background-color: #F80A23;
	border-radius: 10px;
}

#btn-seguir:hover{
	background-color: #BF0519;
}

#descripcion h5{
	font-size: 15px;
	color:#000;
	cursor: pointer;
}
#descripcion h4{
	font-size: 12px;
	color:#B6B3B3;
	cursor: pointer;
}

#btn-imagen1{
	background-color: #000;
}
#btn-imagen2{
	background-color: #F80A23;
}

.btn-group:hover{
	display: block;
}
